<div class="row">
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-0 main">
  <h1 class="page-header">Summary</h1>

  <div class="row placeholders">
    <div class="col-xs-6 col-sm-10">
      <a href="data:image/png;base64,<%=@graph%>" target="_blank"><img src="data:image/png;base64,<%=@graph%>" class="img-responsive img-rounded" alt="Generic placeholder thumbnail"></a>
      <!-- <img src="data:image/png;base64,<%=@graph%>" style="max&#45;height:400px" alt="Generic placeholder thumbnail"> -->
    </div>
  </div>

  <h2 class="sub-header">Logs</h2>
  <div class="table-responsive" style="height:250px; overflow-y:scroll;">
    <table class="table">
      <thead>
        <tr>
          <th>recorded_at</th>
          <th>Lux</th>
        </tr>
      </thead>
      <% @luxes.each do |i| %>
        <tr>
          <td><%=i.recorded_at%></td>
          <td><%=i.lux%></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
</div>
